@inject IDialogService DialogService

<MudAppBar>
    <div class="d-flex justify-space-between flex-grow-1 gap-4">
        <MudFab Variant="Variant.Filled" StartIcon="@Icons.Material.Rounded.Menu" Color="Color.Primary" OnClick="@OpenNavBar"/>
        <div>
            <MudButton Class="ma-3" Variant="Variant.Filled" StartIcon="@Icons.Material.Rounded.Login" Color="Color.Success" Size="Size.Small" OnClick="OpenLoginDialog">Login</MudButton>
            <MudFab Variant="Variant.Filled" StartIcon="@ThemeIcon()" Color="Color.Primary" OnClick="@OnToggleTheme"/>
        </div>
    </div>
</MudAppBar>